<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797348463436-4b6n7qbtekv5dmeprgtlvggkco8gc1qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797348463436-4b6n7qbtekv5dmeprgtlvggkco8gc1qn</string>
	<key>API_KEY</key>
	<string>AIzaSyD49pC4oNTvOhtk24tUE3fY1lelaPnLenA</string>
	<key>GCM_SENDER_ID</key>
	<string>797348463436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.notificationapps</string>
	<key>PROJECT_ID</key>
	<string>push-notification-demo-e1cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-demo-e1cdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797348463436:ios:33e78f12627c1185be45e9</string>
</dict>
</plist>